.doctor-add-float {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
}
.doctor-add-float > .fa-plus {
    margin-top:16px;
    font-size: 30px;
}
.profile-card {
	overflow: hidden;
}
.profile-card .card-img {
	border: 4px solid white;
    border-radius: 50% !important;
    box-shadow: 0 0 4px 4px #f76840!important; 
	width: 250px;
	height: 35vh;
	margin-left: 9.5rem;
	margin-top: -6rem;
}